<link rel="stylesheet" href="../public/css/banner.css">

<div class="banner">
  <div class="banner-content">
    <h1>¡Bienvenidos a nuestro mundo músical!</h1>
    <p>Somos un grupo de música Gospel que busca inspirar corazones, elevar el espíritu y difundir un mensaje de amor y
      esperanza a través de nuestras melodías. Cada nota que entonamos está impregnada de fe y resuena con la fuerza del
      alma.</p>
  </div>
  <img src="../public/img/siluetas.png" alt="Imagen del banner">
</div>