<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.6/index.global.min.js'></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<section id="calendariotexto">
  <div id="calendario"></div>
  <div id="lightbox">
    <div id="lightboxContent"></div>
    <button id="closeButton">Cerrar</button>
  </div>

  <div id="eventos">
    <h2>Próximos eventos</h2>
    <% if (events.length> 0) { %>
      <div class="events-container">
        <% events.forEach(function(event) { %>


          <div class="event-box">
            <div class="event-details">
              <h2 class="event-title">
                <%= event.title %>
              </h2>
              <p class="event-start">
                Inicio: <%= event.formattedStart %>
              </p>
              <p class="event-end">
                Fin: <%= event.formattedEnd %>
              </p>
            </div>
          </div>

          <% }); %>
            <% } else { %>
              <p class="no-news">No se ha encontrado ningún evento</p>
              <% } %>
      </div>
  </div>



  <div id="texto">
    <h2>Quienes somos</h2>
    <p>Nuestro grupo ofrece un ambiente cálido y acogedor donde la comunidad espiritual se une en armonía. Juntos,
      levantamos nuestras voces para alabar a Dios y compartir la belleza y el poder de la música gospel con otros. Cada
      ensayo y cada actuación es una oportunidad para crear experiencias musicales inolvidables y tocar los corazones de
      quienes nos escuchan.</p>
    <p>No importa tu nivel de experiencia o conocimiento musical, lo más importante es tu pasión y disposición para
      crecer en comunidad y aprender unos de otros. ¡No te preocupes si aún no eres un experto! Estaremos encantados de
      ayudarte a desarrollar tus habilidades musicales y explorar tu potencial en un ambiente de apoyo y aliento.</p>
    <p>Si sientes en tu corazón el llamado a alabar a través de la música gospel y deseas unirte a un grupo dinámico y
      espiritualmente enriquecedor, ¡no esperes más! Únete a nosotros y descubre la alegría y la conexión que solo la
      música gospel puede brindar.</p>
    <p>¡Ven y forma parte de nuestro grupo de música gospel! Juntos, llevaremos la melodía del amor divino a cada rincón
      de nuestras vidas y tocaremos los corazones de quienes nos rodean. ¡Te esperamos con los brazos abiertos y la
      música lista para elevar nuestras almas!</p>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendario');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: '/eventosjson',
      locale: 'es',
      firstDay: 1,
      buttonText: {
        today: 'Hoy'
      },
      eventTimeFormat: {
        hour: '2-digit',
        minute: '2-digit',
        meridiem: false
      },
      showNonCurrentDates: false,
      fixedWeekCount: false,
      eventClick: function (info) {

        // Crear el contenido del lightbox
        var lightboxContent = '<h2>' + info.event.title + '</h2>' +
          '<p>Inicio: ' + info.event.start.toLocaleString() + '</p>' +
          '<p>Fin: ' + info.event.end.toLocaleString() + '</p>';

        // Mostrar el contenido del lightbox y centrarlo en la página
        $('#lightboxContent').html(lightboxContent);
        $('#lightbox').fadeIn();
      }
    });
    // Manejar el evento de clic en el botón de cierre
    $('#closeButton').click(function () {
      $('#lightbox').fadeOut();
    });

    calendar.render();
  });
</script>