<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">


<footer>
  <div class="footercontent">
    <div class="text-section">
      <p>Aviso Legal</p>
      <p>Política privacidad</p>
      <p>Política cookies</p>
    </div>
    <div class="icon-section">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</footer>
