<link rel="icon" type="image/png" href="/../public/img/logo2.png">
<link rel="stylesheet" type="text/css" href="/../public/css/style.css">
<link rel="stylesheet" type="text/css" href="/../public/css/main.css">
<script src="/../public/js/darkmode.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<header>
  <div class="logo">
    <a href="/">
      <img src="/../public/img/logo.png" alt="Logotipo">
    </a>
  </div>
  <button class="menu-toggle">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>
  <div class="menu-container">
    <nav class="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/noticias">Noticias</a></li>
        <% if (user) { %>
          <% if (user.roles.includes('admin')) { %>
            <li><a href="/admin">Admin</a></li>
            <% } %>
              <% if (user.roles.includes('editor') || user.roles.includes('admin')) { %>
                <li><a href="/editor">Editor</a></li>
                <% } %>
                  <li><a href="/perfil">
                      <%= user.name %>
                    </a></li>
                  <% } else { %>
                    <li><a href="/login">Login</a></li>
                    <% } %>
      </ul>
    </nav>
  </div>
</header>



<script>
  $(document).ready(function () {
    $('.menu-toggle').click(function () {
      $('nav').slideToggle();
    });
  });

</script>