<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8' />
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.6/index.global.min.js'></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<title>Calendario</title>
	<style>
		#calendario{
			width: 50%;
			margin: auto;
		}

		/* Estilos para el lightbox */
		#lightbox {
			display: none;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 15px;
			background-color: white;
			border: 1px solid #ccc;
			padding: 20px;
			z-index: 9999;
		}

		#closeButton {
			width: 100%;
			margin-top: 1rem;
			padding: 0.5rem;
		}
	</style>


</head>

<body>
	<%- include('../partials/header') %>
		<div id='calendario'></div>
		<div id="lightbox">
			<div id="lightboxContent"></div>
			<button id="closeButton">Cerrar</button>
		</div>



		<script>
			document.addEventListener('DOMContentLoaded', function () {
				var calendarEl = document.getElementById('calendario');
				var calendar = new FullCalendar.Calendar(calendarEl, {
					initialView: 'dayGridMonth',
					events: '/eventosjson',
					locale: 'es',
					firstDay: 1,
					buttonText: {
						today: 'Hoy'
					},
					eventTimeFormat: {
						hour: '2-digit',
						minute: '2-digit',
						meridiem: false
					},
					eventClick: function (info) {
						// Mostrar los detalles del evento en un lightbox

						// Crear el contenido del lightbox
						var lightboxContent = '<h2>' + info.event.title + '</h2>' +
							'<p>Inicio: ' + info.event.start.toLocaleString() + '</p>' +
							'<p>Fin: ' + info.event.end.toLocaleString() + '</p>';

						// Mostrar el contenido del lightbox y centrarlo en la página
						$('#lightboxContent').html(lightboxContent);
						$('#lightbox').fadeIn();
					}
				});
				// Manejar el evento de clic en el botón de cierre
				$('#closeButton').click(function () {
					$('#lightbox').fadeOut();
				});

				calendar.render();
			});
		</script>
</body>

</html>