<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear Evento</title>
  <style>
    .formulario {
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin: 20px auto;
      max-width: 50%;
      text-align: center;
    }

    h1 {
      font-size: 24px;
      color: #8c72cc;
      margin-bottom: 10px;
    }

    label {
      display: block;
      font-size: 16px;
      color: #8c72cc;
      margin-bottom: 5px;
      text-align: left;
    }

    input[type="text"],
    input[type="datetime-local"] {
      width: 100%;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
    }

    input[type="submit"] {
      background-color: #8c72cc;
      color: #ffffff;
      font-size: 16px;
      padding: 10px 20px;
      border-radius: 4px;
      text-decoration: none;
      cursor: pointer;
      margin-right: 10px;
      border: none;
    }

    input[type="submit"]:hover {
      background-color: #6b519f;
    }

    .cancel-link {
      color: #8c72cc;
      font-size: 16px;
      text-decoration: none;
    }

    .cancel-link:hover {
      text-decoration: underline;
    }

    .dark-mode .formulario {
			background-color: #1c0c3e;
      color: white;
		}

    .dark-mode .formulario form input:not(.formulario form input[type="submit"]) {
      background-color: #645883;
      border: none;
      color: white;
		}

    @media (max-width: 768px) {
			.formulario {
				max-width: 90%;
			}
		}

		@media (min-width: 769px) and (max-width: 992px) {
			.formulario {
				max-width: 80%;
			}
		}
  </style>
</head>

<body>
  <%- include('../partials/header') %>
    <div class="formulario">
      <h1>Crear Evento</h1>
      <form method="POST" action="/eventos/crear">
        <div>
          <label for="title">Título:</label>
          <input type="text" name="title" id="title" required>
        </div>

        <div>
          <label for="start">Fecha y Hora de Inicio:</label>
          <input type="datetime-local" name="start" id="start" required>
        </div>

        <div>
          <label for="end">Fecha y Hora de Fin:</label>
          <input type="datetime-local" name="end" id="end" required>
        </div>

        <div>
          <input type="submit" value="Crear Evento">
          <a class="cancel-link" href="javascript:history.back()">Cancelar</a>
        </div>
      </form>
    </div>
</body>

</html>