<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eventos</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
  </style>
</head>

<body>
  <%- include('../partials/header') %>

  <h1>Eventos</h1>

    <table>
      <tr>
        <th>Título</th>
        <th>Fecha de inicio</th>
        <th>Fecha de finalización</th>
      </tr>
      <% events.forEach(function(event) { %>
        <tr>
          <td>
            <%= event.title %>
          </td>
          <td>
            <%= event.formattedStart %>
          </td>
          <td>
            <%= event.formattedEnd %>
          </td>
        </tr>
        <% }); %>
    </table>

</body>

</html>