  .banner {
    width: 100%;
    height: 60vh; /* Ajusta la altura según tus necesidades */
    background: linear-gradient(90deg, rgba(35,64,180,1) 0%, rgba(204,104,255,1) 100%); 
    color: #fff; /* Color del texto */
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden; /* Para ocultar el contenido que se salga del banner */
    box-sizing: border-box; /* Incluir el padding en el ancho total */
  }

.banner-content {
  padding-left: 5rem;
  width: 55%;
}

.banner-content h1 {
  font-size: 36px;
  margin: 0;
  margin-bottom: 1rem;
}

.banner-content p {
  font-size: 18px;
  margin: 0;
}

.banner-content p:last-of-type {
  margin-top: 1rem
}

.banner img {
  height: 100%;
  max-width: 100%; /* Ajusta el ancho máximo de la imagen según tus necesidades */
  object-fit: contain; /* Para ajustar la imagen dentro del contenedor sin distorsión */
}

.underline {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .banner {
    flex-direction: column;
    height: auto;
    padding: 2rem;
    text-align: center;
  }

  .banner-content {
    width: 100%;
    padding: 0;
    margin-bottom: 2rem;
  }

  .banner img {
    max-width: 70%;
    height: auto;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .banner {
    flex-direction: column;
    height: auto;
    padding: 2rem;
    text-align: center;
  }

  .banner-content {
    width: 100%;
    padding: 0;
    margin-bottom: 2rem;
  }

  .banner img {
    max-width: 40%;
    height: auto;
  }
}