#calendariotexto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
  background-color: white;
  overflow: hidden;
}

#calendario {
  padding: 2rem;
  box-sizing: border-box;
}

#texto {
  padding: 2rem 5rem;
  box-sizing: border-box;
  overflow: hidden;
}

h2 {
  margin-bottom: 1rem;
  text-align: center;
}

#texto p {
  line-height: 1.5;
  margin-bottom: 1rem;

}

#calendario{
  width: 100%;
  margin: auto;
}

/* Estilos para el lightbox */
#lightbox {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 9999;
}

#closeButton {
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
}

.fc-day-disabled {
  visibility:hidden;
}

.fc-h-event {
  background-color: #8c72cc;
  border: 1px solid #8c72cc;
}



.dark-mode #calendariotexto {
  background-color: #1c0c3e;
}

.dark-mode #texto, .dark-mode h2 {
  color: white;
}

.dark-mode #calendario {
  color: white;
}

.dark-mode #lightbox {
  background-color: #1c0c3e;
  color: white;
}

.dark-mode .fc-h-event {
  background-color: #6b519f;
  border: 1px solid #6b519f;
}





#eventos {
  display: none;
}

.event-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 1rem;
  background-color: #f9f9f9;
  font-size: 1.2rem;
  border-radius: 1rem;
}

.event-title {
  font-size: 18px;
  margin: 0;
  color: #8c72cc !important;
  font-size: 1.3rem;
}

.event-start,
.event-end {
  font-size: 1.05rem;
  margin: 5px 0;
}

.dark-mode .event-box {
  border: 1px solid #7157a5;
  background-color: #523982;
  color: white;
}

.no-news {
  text-align: center;
  color: #8c72cc;
  font-weight: bold;
  margin: 1rem 0 3rem 0;
}


@media screen and (max-width: 992px) {
  #calendariotexto {
    grid-template-columns: 1fr;
    height: auto;
    padding: 1rem;
    text-align: center;
  }

  #calendario {
    display: none;
  }

  #eventos {
    display: block;
  }

  #texto {
    width: 100%;
    padding: 1rem;
  }

  #lightbox {
    display: none;
  }
}