.formulario {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 50%;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #8c72cc;
  margin-bottom: 10px;
}

label {
  display: block;
  font-size: 16px;
  color: #8c72cc;
  margin-bottom: 5px;
  text-align: left;
}

input[type="text"],
input[type="file"],
input[type="datetime-local"],
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #8c72cc;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
  border: none;
}

input[type="submit"]:hover {
  background-color: #6b519f;
}

.cancel-link {
  color: #8c72cc;
  font-size: 16px;
  text-decoration: none;
}

.cancel-link:hover {
  text-decoration: underline;
}

.dark-mode .formulario {
  background-color: #1c0c3e;
  color: white;
}

.dark-mode .formulario form input:not(.formulario form input[type="submit"]),
.dark-mode textarea {
  background-color: #645883;
  border: none;
  color: white;
}

@media (max-width: 768px) {
  .formulario {
    max-width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .formulario {
    max-width: 80%;
  }
}