@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
  margin: 0; padding: 0; box-sizing: border-box; text-decoration: none;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #f6f2ff;
  transition: background-color 0.5s, color 0.5s;
}

.dark-mode {
  background-color: #3e3453;
}
